<nav class="navbar">
    <div class="logo--div">
        <p>Tourrific </p>
        <span class="tagline">Let's Get Travelling</span>
    </div>
    <div class="navItems--div">
        
    </div>
</nav>